.chatbot-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.chat-input-container {
    display: flex;
    gap: 8px;
    padding: 1rem;
    background: var(--vscode-editor-background);
    border-top: 1px solid var(--vscode-panel-border);
}

.chat-message {
    padding: 8px 12px;
    border-radius: 4px;
    max-width: 80%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-message.user {
    background: var(--vscode-button-background);
    color: white;
    align-self: flex-end;
}

.chat-message.ai {
    background: var(--vscode-editor-inactiveSelectionBackground);
    color: white;
    align-self: flex-start;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: var(black);
    border: 1px solid var(--vscode-panel-border);
    border-radius: 4px;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-content a:hover {
    background-color: var(#676767);
}

.dropdown-content a.selected {
    background-color: var(black);
    color: var(white);
}

.chat-model-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.chat-model-toggle:hover {
    background-color: var(--vscode-button-hoverBackground);
    border-radius: 4px;
}

#chat-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid var(--vscode-input-border);
    border-radius: 4px;
    background: var(--vscode-input-background);
    color: white;
    resize: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
    max-height: 150px;
}

#chat-input:focus {
    outline: none;
    border-color: var(--vscode-focusBorder);
}

#chat-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#chat-submit:hover {
    background: #e6e6e6;
}

#chat-submit svg {
    color: black;
}

.chat-model-name {
    font-size: 8px;
    color: var(white);
    margin-left: 2px;
}

a{
    background-color: #676767;
}
